/* Add your css here */

.avatar {
  width: 300px;
  border-radius: 50%;
}

*{
  background-color: rgb(42, 83, 68);
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  justify-content: center;


}

h1{
  color: aliceblue;
  font-size: 50px;
  color: rgb(42, 83, 68);
    -webkit-text-stroke: 1px aliceblue;
    text-transform: uppercase;
    
}


article{
  border: 1px solid rgb(255, 255, 255);
  margin: auto;
  padding: 20px;

}

h2{
  font-size: 25px;
  text-decoration: underline
}

div{ 
  display: inline-block;
  height: 300px;
  width: 200px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;


}

